/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.execute{
  background: linear-gradient(to right, var(--bg-color), rgba(255, 255, 255, 0.92)), url(./../img/banner.jpg);
  padding: 50px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.execute h3{
  font-size: 50px;
  font-weight: 700;
  color: black;
}
.execute p{
  color: darkgrey;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
}
/* choose us */
.chooseus h6{
  color: #dc4f72;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 20px;
}
.chooseus h3{
  font-size: 60px;
  font-weight: 800;
  color: rgb(77, 72, 72);
}
.chooseus p{
  color: darkgray;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

/* best */
.best{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./../img/bg.jpg);
  padding: 50px 0;
  background-attachment:fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
/* company */
.company h6{
  font-size: 20px;
  color:#dc4f72;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}
.company h3{
  font-size: 40px;
  font-weight: 700;
}
.company p{
  font-size: 20px;
  line-height: 23px;
  color: rgb(154, 150, 150);
  margin-top: 30px;
}
.company img{
    max-width: 100%;
    height: auto;
}